

.About{
    padding: 30px;
   background: aliceblue;
    font-family: 'Roboto', sans-serif;
    
    
}

.btn{
   background-color: lightgray !important;
   color: white;
   border-radius: 10px;
  
}

.download{
    font-size: 20px;
    padding: 10px;;
}

