.navbar{
    background-color: lightgray;
    padding: 10px;
    font-size: 17px;
    top:0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}


ul{
    margin-left: 90%;
    margin-right: 7%;
    
}

a:link{
    color: white;
    text-decoration: none;
  
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}



