.Skills{
    padding: 30px;
    background: aliceblue;
    text-align: center;
}

ul{
   list-style-type: none;
   text-align: center;
   margin-left: 11%;
   padding: 0%;
   overflow: hidden;
   display: inline-block;
}
li{ 
    color: black;
}
