.pageslinks ul {
    padding: 10px;
    margin: 0;
    width: 100%;
}


.pageslinksul li {
  
    display: inline-block;  
    margin-left: 140px;
    margin-right: 140px;
}

.button {
 background-color: darkgray;
 border: none;
 padding: 10px;
 border-radius: 10px;
 text-decoration: none;
 text-align: center;
 
}
