.navspace{

  margin-right: 200px;
}

#navbar {
    overflow: hidden;
    background-color: lightgray;
    top: 0;
    position: fixed;
    width: 100%;
  }


  #navbar li {
  float: left;
    display: block;
   
    text-align: center;
    padding:20px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 17px;
    
  }
  

 
  